@import '../../../styles/main.scss';

.container {
    @include align-justify-center;
    flex: 1;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: getColor(primary);
    width: 100%;
    height: 100%;
    padding-top: 45px;

    @include large-screens($breakpoint-sm) {
        width: 500px;
        height: max-content;
        min-height: 500px;
        border-radius: 10px;
    }
}

.option {
    @include border(getColor(secondary));
    @include margin-horizontal(5px);

    color: getColor(quaternary);
    gap: 0.3rem;
    height: $input-height;
    font-weight: 700;
    font-size: 0.9rem;

    &:hover {
        background-color: getColor(secondary);
    }
}

.icon {
    color: getColor(primary-text);
}

.link {
    @include justify-center;
    color: getColor(primary-text);
}

.or {
    @include justify-center;
}

.button {
    @include make-container(0);
    padding: 1rem;
    font-size: 1.2rem;
}

.loading {
    background-color: getColor(loading-button);

    &:hover {
        background-color: getColor(loading-button);
        cursor: progress;
    }
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1
}

.inputs {
    @include margin-horizontal(8px);
    flex: 1;
}