@import '../../../styles/main.scss';

.container {
    display: none;

    @include large-screens($breakpoint-sm) {
        @include align-center;
        justify-content: space-between;
        background-color: getColor(primary);
        @include padding-horizontal(10px);
        @include padding-vertical(5px);
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
        z-index: 1010;
    }

    ;
}

.notLoggedIn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.notLoggedInContent {
    border: 1px solid getColor(primary-text);
    border-radius: 0;
    color: getColor(primary-text);
}

.signIn {
    border: none;
}

.left {
    display: flex;
    align-items: center;
}