@import '../../../styles/main.scss';

.container {
    @include justify-center;
    align-items: center;
    height: 100%;
    padding-top: 1px;

    @include large-screens($breakpoint-sm) {
        @include padding-vertical(15px);
        @include padding-horizontal(20px)
    }
}

.courses {
    display: flex;
    flex-direction: column;
    background-color: getColor(primary);
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    overflow-y: scroll;
    @include padding-horizontal(5px);
    @include padding-vertical(35px);

    @include large-screens($breakpoint-xl) {
        @include padding-horizontal(20px);
        width: 97%;
        max-height: 900px;
        max-width: 1300px;
    }
}

.courseContainer {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 20px;
}

.header_input {
    @include flex-column;
    justify-content: space-between;

}

.title {
    font-weight: bold;
    color: getColor(primary-text);
}

.header_createCourse {
    @include flex-column-reverse;
    justify-content: space-between;
    gap: 5px;
    align-items: flex-end;

    @include large-screens($breakpoint-sm) {
        flex: 1;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        @include padding-horizontal(5px);
    }
}

.input {
    width: 100%
}