@import '../../../styles/main.scss';

.container {
    border: none;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid getColor(primary-text);
    @include padding-horizontal(5px);

    & input {
        border: none;
        flex: 1;
        outline: none
    }
}

.error {
    color: getColor(border-error);
    font-size: 0.9rem;
    font-weight: 600;
}

.input_error {
    border: 2px solid getColor(border-error);
}