@import '../../../styles/main.scss';

.container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.subSection {
    display: flex;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: getColor(primary);
    border: 1px solid getColor(primary-text);
    padding: 5px;
    cursor: move;


    @include large-screens($breakpoint-sm) {
        padding: 10px;

        &:hover {
            .hoverableIcons {
                opacity: 1;
            }
        }
    }
}

.left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.textAndIcons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.typeAndtitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100px;
    overflow: hidden;
}

.editAndDeleteIcons {
    display: flex;
}

.arrowAndMenuIcon {
    display: flex;
}

.hoverableIcons {

    @include large-screens($breakpoint-sm) {
        opacity: 0;
    }
}

.addButton {
    border: 1px solid getColor(primary-text);

    & button {
        color: getColor(primary-text);
    }
}

.contentOpenTopContainer {
    display: flex;
    align-items: flex-end;
    background-color: getColor(primary);
    position: relative;
    top: 6px;

    @include large-screens($breakpoint-sm) {
        top: 11px;
    }
}

.contentTitle {
    display: flex;
    align-items: center;
    border: 1px solid getColor(primary-text);
    border-bottom: unset;
    @include padding-horizontal(5px);
    word-break: keep-all;
}