@import '../../../styles/main.scss';

.container {
    display: flex;
    flex-direction: column;
}

.subSection {
    display: flex;
    word-break: break-all;
    background-color: getColor(primary);
    border: 1px solid getColor(primary-text);
    padding: 5px;
    cursor: move;


    @include large-screens($breakpoint-sm) {
        padding: 10px;

        &:hover {
            .hoverableIcons {
                opacity: 1;
            }
        }
    }
}

.left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.textAndIcons {
    flex: 1;
    display: flex;
}

.typeAndtitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.editAndDeleteIcons {
    display: flex;
}

.arrowAndMenuIcon {
    display: flex;
}

.hoverableIcons {

    @include large-screens($breakpoint-sm) {
        opacity: 0;
    }
}

.addButton {
    border: 1px solid getColor(primary-text);

    & button {
        color: getColor(primary-text);
    }
}