@import '../../../styles/main.scss';

.container {
    display: flex;
    flex-direction: column;
}

.icons {
    opacity: 0;
}

.subsection {
    background-color: getColor(primary);
    border: 1px solid getColor(primary-text);
    padding: 10px;
    cursor: move;
    @include align-center;
    justify-content: space-between;
    gap: 5px;

    &:hover {
        .icons {
            opacity: 1;
        }
    }
}

.editIcon {
    color: getColor(primary-text);
}

.left {
    flex: 1;
    @include align-center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addContentButton {
    border: 1px solid getColor(primary-text);

    & button {
        color: getColor(primary-text);
    }
}