@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin justify-center {
    display: flex;
    justify-content: center;
}

@mixin make-container($padding-x, $border-radius: 0) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
    border-radius: $border-radius;
}

@mixin border-transition($color) {
    box-shadow: 0 0 0 3px $color;
    transition: all 1s ease;
}

@mixin autofill-color($bg-color, $text-color) {
    box-shadow: inset 0 0 0 50px $bg-color !important;
    -webkit-text-fill-color: $text-color;
}

@mixin border($color, $width: 1px) {
    border: $width solid $color;
}

@mixin align-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin large-screens($size) {
    @media only screen and (min-width: $size ) {
        @content
    }
}

@mixin margin-horizontal($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin margin-vertical($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin padding-horizontal($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding-vertical($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}