$input-border-radius: 0.2rem;
$input-height: 4rem;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lm: 980px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$border-radius: 1px;

// light theme
$colors: (
    primary: #fff,
    secondary: #E5E5E5,
    tertiary: #1750FF,
    quaternary: #000,
    error: #ff0000,
    primary-text: #000,
    secondary-text: #fff,
    dark-mode: #4447E2,
    box-shadow-color: rgba(0, 0, 0, .08),
    border-color: #1750FF,
    link-color:#1750FF,
    rating: #b4690e,
    color-08: rgba(0, 0, 0, .08),
    color-16: rgba(0, 0, 0, .16),
    section: #F7F9FA,
);

// dark theme
$colors-dark: (
    primary: #1C1C24,
    secondary: #000,
    tertiary: #4447E2,
    quaternary: #E5E5E5,
    error: #ff0000,
    primary-text: #E5E5E5,
    secondary-text: #000,
    dark-mode: #FFFF00,
    box-shadow-color: rgba(0, 0, 0, .08),
    border-color: #1750FF,
    link-color:#1750FF,
    rating: #b4690e,
    color-08: rgba(255, 255, 255, .08),
    color-16: rgba(255, 255, 255, .16),
    section: #F7F9FA,
);