$input-border-radius: 0.2rem;
$input-height: 4rem;
$breakpoint-sm: 576px;
$border-radius: 1px;

// light theme
$colors: (
    primary: #fff,
    secondary: #E5E5E5,
    tertiary: #1750FF,
    quaternary: #000,
    error: #ff0000,
    primary-text: #000,
    dark-mode: #4447E2,
    box-shadow-color: rgba(0, 0, 0, .08),
    border-color: #1750FF,
    link-color:#1750FF,
    rating: #b4690e,
);

// dark theme
$colors-dark: (
    primary: #1C1C24,
    secondary: #000,
    tertiary: #4447E2,
    quaternary: #E5E5E5,
    error: #ff0000,
    primary-text: #E5E5E5,
    dark-mode: #FFFF00,
    box-shadow-color: rgba(0, 0, 0, .08),
    border-color: #1750FF,
    link-color:#1750FF,
    rating: #b4690e,
);