@import './main.scss';

body {
    background-color: getColor(secondary);
}


* {
    font-family: IranYekan, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration-line: none;
}


:root {

    @each $name,
    $color in $colors {
        --color-#{$name} : #{$color};
    }

    --theme: 'light';
}

[data-theme="dark"] {

    @each $name,
    $color in $colors-dark {
        --color-#{$name} : #{$color};
    }

    --theme : 'dark';
}

.MuiPaper-root {
    background-color: getColor(primary);
}