@import '../../../../styles/main.scss';

.container {
    @include padding-horizontal(15px);
    background-color: getColor(primary);
    overflow: scroll;
    padding-bottom: 20px;
}

.header {
    color: getColor(primary-text);
    border-bottom: 1px solid getColor(primary-text);
    @include padding-vertical(10px);
}

.paragraph {
    color: getColor(primary-text);
    padding: 2px;
    margin-bottom: 50px;

    @include large-screens($breakpoint-sm) {
        padding: 20px;
    }
}

.addSectionButtonAndAddSection {
    position: relative;
}

.multi {
    position: absolute;
    top: -7px;
    left: -12px;
    transition: transform 400ms cubic-bezier(.2, 0, .38, .9);
}

.multi_rtl {
    position: absolute;
    top: -7px;
    right: -12px;
    transition: transform 400ms cubic-bezier(.2, 0, .38, .9);
}

.multi_active {
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 5;
    transform: rotate(45deg);
}

.multi_active_rtl {
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    transform: rotate(45deg);
}

.addSectionButton {
    border: 1px solid getColor(primary-text);
    color: getColor(primary-text);
    border-radius: 0;
    background-color: transparent;
    font-weight: bold;
    @include padding-horizontal(24px);
    @include padding-vertical(5px);
}