@import '../../../../styles/main.scss';

.container {
    height: 100%;
    @include justify-center;
    align-items: flex-start;
    @include padding-vertical(15px);
}

.createBox {
    display: flex;
    flex-direction: column;
    background-color: getColor(primary);
    width: 97%;
    max-width: 1500px;
    height: 100%;
    border-radius: $border-radius;
    overflow-y: scroll;
    @include padding-horizontal(5px);
    @include padding-vertical(15px);

    @include large-screens($breakpoint-sm) {
        @include padding-horizontal(20px)
    }
}

.questionsBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 1.2rem;
    margin-top: 35px;
    text-align: center;
    color: getColor(primary-text);
}

.okay {
    text-align: center;
    font-size: 0.95rem;
    color: getColor(primary-text)
}

.inputContainer {
    @include align-center;
    @include padding-horizontal(4px);
    gap: 5px;
    border: 1px solid getColor(primary-text);
    border-radius: 2px;

    &:focus-within {
        @include border-transition(getColor(quaternary), 1px);
    }

    & textarea {
        width: 100%;
        outline: none;
        border: none;
        resize: none;
        height: 60px;
        padding: 8px;
        overflow: hidden;
        background-color: getColor(primary);
        color: getColor(primary-text);

        @include large-screens($breakpoint-sm) {
            height: unset;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.remaining {
    color: getColor(primary-text);
}