@import '../../../styles/main.scss';

.container {
    position: relative;
    opacity: 0;
    color: getColor(primary-text);

    &:hover {
        opacity: 1;
    }
}

.multi {
    transition: transform 400ms linear;
    color: getColor(primary-text);
}

.active {
    opacity: 1;

    .before__button {
        border: none;
        background-color: transparent;

        &::before {
            border: none;
        }
    }

    .multi {
        transform: rotate(45deg)
    }
}

.before__button {
    @include square_sign;
    top: -40px;
    left: -10px;
    z-index: 1;
    background-color: transparent;

    &::before {
        top: 2px;
        right: -11px;
    }
}

.square_rtl {
    @include square_sign {
        background-color: transparent;
        left: unset;
        right: -10px;
        top: -40px;
        transform: rotate(180deg);
    }
}