@import '../../../styles/main.scss';

.bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.banner {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 75%;
    min-height: 380px;
    overflow: hidden;

    @include large-screens($breakpoint-sm) {
        padding-bottom: unset;
        height: 400px;
        max-width: 1800px;
    }

    ;

    @include large-screens($breakpoint-md) {
        padding-bottom: unset;
        height: 600px;
    }

    ;

}

.banner__image {
    object-fit: cover;
    object-position: 75% 50%;
    height: auto;
    max-width: 100%;
    min-width: 250px;

    @include large-screens(600px) {
        object-position: 55% 50%;
    }
}

.banner__text {
    @include margin-vertical(20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &>h1 {
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        letter-spacing: -0.05rem;
        user-select: none
    }

    ;

    &>p {
        text-align: left;
        font-size: 1.2rem;
        text-align: center
    }

    ;

    @include large-screens(600px) {
        position: absolute;
        width: 50%;
        max-width: 320px;
        right: 50%;
        top: 25%
    }

    ;

    @include large-screens(750px) {
        right: 55%;
    }

    ;

    @include large-screens(800px) {
        right: 60%;
    }

    ;

    @include large-screens(850px) {
        right: 60%;
    }
}

.banner__button {
    background-color: getColor(primary-text);
    color: getColor(primary);
    border-radius: 0;
    width: 99%;
    font-weight: 700;
    font-size: 1.1rem;
    @include padding-vertical(15px);

    @include large-screens(600px) {
        max-width: 320px;
    }

    &:hover {
        background-color: getColor(primary-text);
    }
}