@import '../../../../styles/main.scss';

.before {
    opacity: 0;
    transition: opacity 400ms linear, transform 400ms cubic-bezier(.2, 0, .38, .9);

    &:hover {
        opacity: 1;
    }
}

.before_active {
    opacity: 1;
}

.hoverButton {
    position: relative;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;

}

.square {
    @include square_sign;
}

.square_rtl {
    @include square_sign {
        left: 43px;
        transform: rotate(180deg);
    }
}

.square_active {
    border: none;
    background-color: transparent;

    &::before {
        right: 20px;
        background-color: getColor(primary);
    }

}

.mult {
    @include multiply_sign {
        transform: translate(-20px, 4px);

        &::after {
            top: -10px;
            right: 45px;
        }

        &::before {
            right: 45px;
            top: -10px;
        }
    }
}

.mult_rtl {
    @include multiply_sign {
        transform: translate(-20px, 4px);

        &::after {
            top: -10px;
            right: -63px;
        }

        &::before {
            right: -63px;
            top: -10px;
        }
    }
}

.mult_active {
    @include multiply_sign_active {
        &::after {
            right: 13px;
            top: -7px;
        }

        &::before {
            right: 13px;
            top: -7px;
        }
    }
}

.mult_active_rtl {
    @include multiply_sign_active {
        &::after {
            right: -10px;
            top: -7px;
        }

        &::before {
            right: -10px;
            top: -7px;
        }
    }
}