@import '../../../styles/main.scss';

.container {
    background-color: getColor(primary);
    z-index: 1;

    @include large-screens($breakpoint-sm) {
        display: none;
    }
}

.menu {
    color: getColor(primary-text);
}

.menuItem {
    color: getColor(primary-text)
}