@import '../../../styles/main.scss';

.inputContainer {
    @include align-center;
    @include make-container(15px, $input-border-radius);
    background-color: getColor(secondary);

    &:focus-within {
        @include border-transition(getColor(quaternary));
    }
}

.input {
    flex: 1;
    background-color: inherit;
    border: none;
    padding: 1rem;
    font-size: 1rem;

    color: getColor(quaternary);

    &:focus {
        outline: none
    }

    ;

    &:autofill {
        @include autofill-color(getColor(secondary), getColor(quaternary))
    }
}

.error {
    color: getColor(error);
    font-size: .9rem;
    margin: 0;
}