@import '../../../styles/main.scss';

.reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 300px;
}

.reason__title {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.reason__paragraph {
    text-align: center;
    font-weight: 400;
}