@import '../../../styles/main.scss';

.container {
    opacity: 0;
    transition: opacity 400ms linear, transform 400ms cubic-bezier(.2, 0, .38, .9);

    &:hover {
        opacity: 1;
    }
}

.active {
    opacity: 1;
}

.hoverButton {
    background-color: transparent;
    transform: translate(0px, -17px);
    border: none;
    width: 20px;
    height: 20px;
}

.square {
    @include square_sign {
        top: unset;
        right: unset;
        left: -17px;

        @include large-screens($breakpoint-sm) {
            left: -62px;
        }

    }

    &::before {
        background-color: getColor(primary);
    }
}

.square_rtl {
    @include square_sign {
        top: unset;
        left: unset;
        right: -17px;
        transform: rotate(180deg);

        @include large-screens($breakpoint-sm) {
            right: -62px;
        }

    }

    &::before {
        background-color: getColor(primary);
    }
}

.square_active {
    border: none;
    background-color: transparent;

    &::before {
        left: -6px;
        background-color: getColor(primary);
        transform: translate(2px, 12px) rotate(45deg);

        @include large-screens($breakpoint-sm) {
            transform: translate(2px, 12px) rotate(45deg);
        }
    }
}

.square_active_rtl {
    border: none;
    background-color: transparent;

    &::before {
        left: unset;
        background-color: getColor(primary);
        transform: translate(-33px, -12px) rotate(45deg);

        @include large-screens($breakpoint-sm) {
            transform: translate(-33px, -12px) rotate(45deg);
        }
    }
}

.mult {
    transform: translate(-5px, -3px);
    position: absolute;
    left: -5px;

    @include large-screens($breakpoint-sm) {
        left: -48px;
    }
}

.mult_rtl {
    transform: translate(15px, -3px);
    position: absolute;
    right: 5px;

    @include large-screens($breakpoint-sm) {
        right: -40px;
    }
}

.mult_active {
    transform: translate(-21px, 8px) rotate(45deg);
    position: absolute;
    left: 5px;

    @include large-screens($breakpoint-sm) {
        transform: translate(-57px, 9px) rotate(45deg);
        left: 39px;
    }
}

.mult_active_rtl {
    transform: translate(21px, 9px) rotate(45deg);
    position: absolute;
    right: 5px;

    @include large-screens($breakpoint-sm) {
        transform: translate(60px, 10px) rotate(45deg);
        right: 43px;
    }
}