@import '../../../../styles/main.scss';

.select {
    background-color: aliceblue;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include large-screens($breakpoint-sm) {
        max-width: 900px;
    }
}