.container {
    width: 100%;
    max-width: 1340px;
    direction: initial;
    position: relative;
}

.arrow {
    background-color: black;
    color: white;
    border-radius: 80px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    top: 50%;
    transform: translateY(-50%);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    right: 5px;
}

.prev {
    left: 5px;
}